/*�뜝�룞�삕�뜝�룞�삕�뜝�룞�삕 �뜝�떥�벝�삕*/
#loading-page {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/progress/bigcircleball.gif') 50% 50% no-repeat #fff;
}

.uploader {
  display: block;
  clear: both;

  width: 100%;
  max-width: 600px;
}
.uploader label {

  clear: both;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  border: 3px solid #eee;
  transition: all 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.uploader label:hover {
  border-color: #454cad;
}
.uploader label.hover {
  border: 3px solid #454cad;
  box-shadow: inset 0 0 0 6px #eee;
}
.uploader label.hover #start i.fa {
  transform: scale(0.8);
  opacity: 0.3;
}
.uploader #start {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #start.hidden {
  display: none;
}
.uploader #start i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}
.uploader #response {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #response.hidden {
  display: none;
}
.uploader #response #messages {
  margin-bottom: 0.5rem;
}
.uploader #file-image {
  display: inline;
  margin: 0 auto 0.5rem auto;
  width: auto;
  height: auto;
  max-width: 180px;
}
.uploader #file-image.hidden {
  display: none;
}
.uploader #notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}
.uploader #notimage.hidden {
  display: none;
}
.uploader progress,
.uploader .progress {
  display: inline;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 180px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
}
.uploader .progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee;
}
.uploader .progress[value]::-webkit-progress-value {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader .progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader input[type=file] {
  display: none;
}
.uploader div {
  margin: 0 0 0.5rem 0;
  color: #5f6982;
}
.uploader .btn {
  display: inline-block;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  clear: both;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: initial;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  background: #454cad;
  border-color: #454cad;
  cursor: pointer;
}

/* dragAndDrop */
.dragAndDropDiv {
	
    border: 2px dashed #92AAB0;
    width: 500px;
    height: 290px;
    color: #92AAB0;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0px 10px 10px;
    font-size:200%;
    display: table-cell;
    margin-top: 12px;
    margin-right: 50px;
}
.progressBar {
    width: 200px;
    height: 22px;
    border: 1px solid #ddd;
    border-radius: 5px; 
    overflow: hidden;
    display:inline-block;
    margin:0px 10px 5px 5px;
    vertical-align:top;
}
 
.progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #0ba1b5; border-radius: 3px; 
}
.statusbar{
   
    min-height:25px;
    width:99%;
    padding:10px 10px 0px 10px;
    vertical-align:top;
}
.statusbar:nth-child(odd){
    background:#EBEFF0;
}
.filename{
    display:inline-block;
    vertical-align:top;
    width:250px;
}
.filesize{
    display:inline-block;
    vertical-align:top;
    color:#30693D;
    width:100px;
    margin-left:10px;
    margin-right:5px;
}
.abort{
    background-color:#A8352F;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;display:inline-block;
    color:#fff;
    font-family:arial;font-size:13px;font-weight:normal;
    padding:4px 15px;
    cursor:pointer;
    vertical-align:top
}

/* searchArea */
.searchArea {
	border: 1px solid #c8c8c8;
	
}
.searchArea2 {
	border-bottom: 1px solid #c8c8c8;
	padding: 5px;
}

.searchTable th {width:8%;}
.searchTable td.searchTd1, .searchTable td.searchTd3 {width:20%;}
.searchTable td.searchTd2 {width:36%;}


.hidden {display:none}
.datepicker {z-index: 9999 !important};
.datepicker-area .ui-datepicker-trigger img {width: 24px; z-index: 9999 !important}

.dynamicTable {
	width: 90%;
}
.fs {
	font-size: 12px;
}

/* table thead fix tbody scroll */
.table-fixed{

}



.table-scroll-y {height: 196px; overflow: hidden; overflow-y: auto;}
.table-scroll-x {overflow: hidden; overflow-x: auto;}
.table-scroll-x .table {width: 150%;}
.table-success td {font-weight: 700;}

.readonly {background-color:#ababab}

/* �뜝�룞�삕�뜝�룞�삕�뜝�룞�삕�뜝�룞�삕�뜝�떛�눦�삕 */
.tabulator .tabulator-footer {
	justify-content: center!important;
	display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
.tabulator .tabulator-footer .tabulator-paginator, .tabulator .tabulator-footer .tabulator-paginator .tabulator-pages {
	display: flex;
}
.tabulator .tabulator-footer .tabulator-page {
	position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #c0c5d1;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.tabulator .tabulator-footer .tabulator-page.active {
	background-color: #707070;
    border-color: #707070;
    color: #fff;
}
.tabulator .tabulator-footer .tabulator-page-size {
	position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #c0c5d1;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.tabulator-paginator label {
	color: #6c757d;
	margin: auto;
    padding: 10px;	
}

.tabulator-row .tabulator-cell {
	padding: 4px 2px 2px 2px;
}

.tabulator { font-size: 12px; }
.tabulator-row .tabulator-cell{	padding:2px 2px;}
.itmTable{font-size: 12px;}

/* modal fullsize */
.modal-dialog.modal-fullsize {
  max-width: 1600px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.modal-content.modal-fullsize {
  height: auto;
  min-height: 100%;
  border-radius: 0; 
  width: 1000px;
}
.modal.modal-center {
  text-align: center;
}
.modal-dialog.modal-center {
  display: inline-block;
  text-align: left;
  vertical-align: middle; 
}

/* �뜝�떥�벝�삕�뜝�룞�삕 */
.loading-modal {position: fixed; top: 50%; width: 100%; max-width: 100%; margin-top: -40px;}
.loading-modal .modal-content {border: 0; text-align: center; background-color: transparent;}
.loading-modal .modal-content .modal-body {border: 0;}


.table>:not(:last-child)>:last-child>* {border-bottom-color: #e5e5e5;}


/* Adding asterisk to required fields */
/* To display an asterisk on the right of the label */
.form-group.required .control-label:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:7px;
}

/* to the left of the label */
.form-group.required .control-label:before{
   color: red;
   content: "*";
   position: absolute;
   margin-left: -15px;
}

.form-group.required .control-label:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:7px;
}

.required:after {
  content:" *";
  color: red;
}


.header .user-function button.msg { width: 22px; height: 22px;border: 2px solid #567293; border-radius: 100%;}
.user-function .msg {display: inline-block; color: #fff; position: relative; padding-left: 32px; font-size: 12px; background-size: 17px;}
.user-function .msg .value {position: absolute; top: 8px; left: 10px; display: inline-block; width: 16px; height: 16px; line-height: 16px; font-size: 10px; border-radius: 100%; background: #e60012; text-align: center; color: #fff; font-style: normal;}

/* notice */
.notice-list li {border-bottom: 1px solid #d4d4d4;}
.notice-list.ui-helper-reset {padding: 0 20px; }
.notice-list.ui-accordion .ui-accordion-header {padding: 15px 30px 15px 0; font-family: 'Noto Sans', sans-serif, serif, '占쎈막占쎈탣 SD 占쎄텦占쎈즼�⑥쥓逾� Neo', 'Apple SD Gothic Neo', 'AppleGothic', "占쎈즻占쏙옙", Dotum; font-size: 14px; letter-spacing: -1px; background: url('../images/arrow-down.png') no-repeat right 24px; background-size: 18px 10px; font-weight: 700;}
.notice-list.ui-accordion .ui-accordion-header .new {display: inline-block; overflow: hidden; background: #f53600; width: 16px; height: 16px; border-radius: 50%; -webkit-border-radius: 50%; margin-top: -3px; vertical-align: middle; color: #f53600;}
.notice-list.ui-accordion .ui-accordion-header .new:before {content: "N"; text-align: center; display: inline-block; width: 14px; height: 16px; color: #fff; font-size: 10px; line-height: 16px; vertical-align: top;}
.notice-list.ui-accordion .ui-accordion-header .date {display: block; padding-top: 6px; font-size: 15px; color: #989898;}
.ui-state-active .ui-icon, .ui-button:active .ui-icon {display: none;}
.notice-list .ui-icon, .ui-widget-content .ui-icon {display: none;}
.notice-list .ui-state-default.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {border: 0; background: url('../images/arrow-up.png') no-repeat right 24px; background-size: 18px 10px; color: #f53600;}
.notice-list .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {border: 0; background: #fff; color: #000;}
.notice-list.ui-accordion .ui-accordion-content {border: 0; padding: 30px 20px; background: #f7f7f7; color: #5c5c5c; letter-spacing: -1px;}



/*�떞�떦�옄愿�由� > �벑濡� > �쉶�궗�슦�샇�룄 */
.slidecontainer {
  width: 50%;
}

.slider {
   overflow: hidden;
    height: 30px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background: transparent;
}

.slider:focus  {
	outline: none;
}	
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid x	#00bfff;
  
}

.slider::-webkit-slider-thumb {
   -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background: 	#00bfff;
    box-shadow: 1px 1px 7px #00bfff;
    cursor: pointer;
    box-shadow: -100vw 0 0 100vw #00bfff;
}

/*CS �솢�룞 �벑濡� 硫붾돱�겢由��떆 div �렯爾먯�湲� �떕�엳湲�*/

.section-title {
	margin: 0 0 30px 0; margin-left: calc(var(--bs-gutter-x) * -.5); margin-right: calc(var(--bs-gutter-x) * -.5); font-size: 20px; color: #121212;
}
.section-title i {
	border: 2px solid #b9b9b9; margin-left: 20px; border-radius: 100%; color: #b9b9b9;

}

a { color: black;	text-decoration:none } 
a:hover {  		text-decoration:none; } 

th.em em{color:red; }


.__tbl2 {width:100%;table-layout:fixed;border-top:1px solid #0f4897;}
.__tbl2 tr > * {padding:3px 15px;font-size:14px;line-height:1.4;border:1px solid #ccc;border-top:none;}
.__tbl2 tr th {text-align:left;font-weight:500;background:#f9fafc;color:#333;height:38px;}
.__tbl2 tr th span {display:block;position:relative;letter-spacing:-0.05em;}
.__tbl2 tr th span.req:after {content:"*";color:#ff0000;display:inline-block;margin-left:5px;}
.__tbl2 .yellow {background:#fffbdf;}

.tabulator-row {display:flex; align-items:center;}
.tabulator-row .tabulator-cell{	padding:2px 2px;}
.itmTable{font-size: 13px;}	
.itmTable .tabulator-col, .itmTable .tabulator-cell{border-right: 1px solid #dee2e6;}
.tr-title{border-bottom:hidden;}
.table-b > div:not(:first-child){margin-left: 1%;}
button[class*="ico"][class*="small"]{border:none;}
button[class*="ico"][class*="download"]{background-color: #fff;}
button[class*="ico"][class*="download"]:before,button[class*="image"][class*="download"]:before{background-position: 0 -140px;}
button[class*="ico"]:before,button[class*="image"]:before{content:'';display:inline-block;height:35px;background:url('/images/btn/set_btn_function.png') no-repeat}
button[class*="ico"]:before{width:23px;vertical-align:middle;}
.grid-row-colored {background-color:#f5f8fc}
.datePicker {min-width: 150px; max-width: 200px;}
.form-button-group div.col-auto {display:flex; gap:.5rem;}
/* button[class*="ico"][class*="small"]:before,button[class*="image"][class*="small"]:before{height:24px;line-height:24px;} */